<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krwiodawcy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Messages" />
        <activity android:name=".BloodDonation" />
        <activity android:name=".MainWindow" />
        <activity android:name=".Register" />
        <activity android:name=".LogIn" />
        <activity android:name=".Starter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BloodLogActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".BadgesActivity" />

    </application>

</manifest>